body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh;
    background: url("./images/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px;

}

h1 {
    margin-bottom: 20px;
}

.logo {
    margin-bottom: 20px;
}

.logo img {
    width: 150px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
}

.title {
    font-family: Arial, sans-serif;
    color: #4f4caa; /* Example font color similar to logo color */
    text-align: center;
    margin-bottom: 60px;
}

.title h1 {
    font-size: 35px;
    margin: 0;
}


input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 12px 20px;
    margin: 10px 0;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.login-link {
    margin-top: 20px;
}

.login-link a {
    color: #3273dc;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}

