body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa; /* Light grey background */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #ffffff; /* White container */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.logo {
    margin-bottom: 20px;
}

.logo img {
    width: 150px;
    height: auto;
}

input[type="email"],
input[type="password"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="email"],
input[type="password"] {
    border: 1px solid #ccc;
}

input[type="submit"] {
    background-color: #007bff; /* Blue submit button */
    color: #fff;
    border: none;
    padding: 12px 20px;
    margin: 10px 0;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

.or-divider {
    margin: 10px 0;
    position: relative;
}

.or-divider::before,
.or-divider::after {
    content: "";
    height: 1px;
    width: 45%;
    background-color: #ccc;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.or-divider::before {
    right: 55%;
}

.or-divider::after {
    left: 55%;
}

.social-login {
    margin: 20px 0;
}

.social-login button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 0 5px;
}

.social-login button img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.signup-link {
    margin-top: 20px;
}

.signup-link a {
    color: #007bff;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}
.title {
    font-family: 'Monospace'; /* Example font-family */
    color: #9290C3; /* Example font color similar to logo color */
    text-align: center;
    margin-bottom: 60px;
}

.title h1 {
    font-size: 35px;
    margin: 0;
}
